.venv
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
.git
*.egg-info
dist/
build/
# Don't ignore model artifacts unless you prefer building them at runtime
# regmodel.pkl
# scaler.pkl
